body {
    background-color: #2A2220;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.main-game {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40vh;
    justify-content: center;
}

.main-towers {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 8vw;
}

.background-image {
    position: absolute;
    background-image: url("../images/gifhanoi.gif");
    background-size: cover;
    filter: blur(4px);
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.table-bottom {
    position: relative;
    background-color: #442921;
    width: 30vw;
    margin-top: 0px;
    height: 20px;
    border: solid black 0.2px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    z-index: 3;
}

#first {
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    /* background-color: red; */
    width: 100px;
    height: 200px;
    border: none;
    z-index: 2;
    cursor: default;
}

#second {
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    /* background-color: red; */
    width: 100px;
    height: 200px;
    border: none;
    z-index: 2;
    cursor: default;
}

#third {
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    /* background-color: red; */
    width: 100px;
    height: 200px;
    border: none;
    z-index: 2;
    cursor: default;
}

.tower-game {
    background-color: #442921;
    width: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    border: solid black 0.2px;
    border-radius: 10px 0px 0px 0px;
    position: relative;
    z-index: 3;
}

.circle-color {
    position: relative;
    height: 30px;
    border-radius: 10px;
    z-index: 1;
    margin-top: 2px;
    border: solid 0.2px #000000a6;
}

/* .selected {
    position: absolute;
    animation-name: up;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    z-index: 0;
} */

.selected-wrong {
    animation-name: wrong;
    animation-duration: 200ms;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

.tower-circle {
    animation-name: coming;
    animation-duration: 3s;

}

.record {
    position: absolute;
    left: 30px;
    top: 10px;
    background-color: #544e4c7a;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    border: solid;
    border-color: black;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 5px 10px;
    color: black;
    z-index: 1;
}

.record h1 {
    color: white;
}

.points {
    position: absolute;
    right: 30px;
    top: 10px;
    background-color: #544e4c7a;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    border: solid;
    border-color: black;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 5px 10px;
    color: black;
    z-index: 1;
}

.game-back-button {
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: 20px;
    background-color: #544e4c36;
    z-index: 1;
}

.points h1 {
    color: white;
}

@media (max-width: 673px) {
    .main-towers {
        gap: 25vw;
    }

    .table-bottom {
        width: 90vw;
    }

    .record {
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .points {
        left: 0px;
        right: 0px;
        margin: auto;
        top: 90px;
    }
}

@keyframes coming {
    from {
        margin-bottom: 100px;
    }

    to {
        margin-bottom: 0px;
    }
}

@keyframes up {
    from {
        position: static;
        bottom: 400px;
    }

    to {
        position: absolute;
        bottom: 500px;
    }
}


@keyframes wrong {
    0% {
        margin-left: 10px;
    }

    25% {
        margin-left: 0px;
    }

    50% {
        margin-left: 10px;
    }

    75% {
        margin-right: 10px;
    }

    100% {
        margin-right: 0px;
    }
}