.instruction-left-button {
    position: absolute;
    background-color: #3e6b8170;
    border: solid black 2px;
    left: 15px;
    bottom: 15px;
    z-index: 1;
}

.instruction-right-button {
    position: absolute;
    background-color: #3e6b8170;
    border: solid black 2px;
    right: 15px;
    bottom: 15px;
    z-index: 1;
}

.instruction-right-button:hover, .instruction-left-button:hover {
    background-color: #3e6b8170;
    border: solid black 2px;
}

.instruction-main {
    text-align: center;
    width: 80vw;
    margin: auto;
}

.instruction-title {
    color: #98B4C2;
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
    position: relative;
    z-index: 1;
}

.instruction-text {
    color: #98B4C2;
    font-size: 40px;
    text-shadow: 2px 2px 2px #000000;
    position: relative;
    z-index: 1;
}

.instruction-gif {
    position: relative;
    width: 400px;
    border-radius: 25px;
    z-index: 1;
    border: solid #98B4C2 3px;
    transition: 500ms;
}

.instruction-gif:hover {
    width: 420px;
    transition: 500ms;
}

.instruction-background-image {
    position: absolute;
    background-image: url('../images/e1e7a33173d81a85444942e403bef217.gif');
    background-size: cover;
    filter: blur(8px);
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

@media (max-width: 673px) {
    .instruction-title {
        font-size: 50px;
    }

    .instruction-text {
        font-size: 30px;
    }

    .instruction-left-button {
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-size: 14px;
        width: 10rem;
    }

    .instruction-left-button:hover {
        background-color: #544E4C;
        width: 10.5rem;
        height: 5vh;
        transition: 500ms;
    }

    .instruction-right-button {
        position: absolute;
        right: 15px;
        bottom: 15px;
        font-size: 14px;
        width: 10rem;
    }

    .instruction-right-button:hover {
        background-color: #544E4C;
        width: 10.5rem;
        height: 5vh;
        transition: 500ms;
    }

    .instruction-gif {
        width: 280px;
    }

    .instruction-gif:hover {
        width: 300px;
        transition: 500ms;
    }
}

@media (max-width: 359px) {
    .instruction-title {
        font-size: 30px;
    }

    .instruction-text {
        font-size: 20px;
    }

    .instruction-left-button {
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-size: 13px;
        width: 5rem;
    }

    .instruction-left-button:hover {
        background-color: #544E4C;
        width: 5.5rem;
        height: 5vh;
        transition: 500ms;
    }

    .instruction-right-button {
        position: absolute;
        right: 15px;
        bottom: 15px;
        font-size: 13px;
        width: 5rem;
    }

    .instruction-right-button:hover {
        background-color: #544E4C;
        width: 5.5rem;
        height: 5vh;
        transition: 500ms;
    }

    .instruction-gif {
        width: 200px;
    }

    .instruction-gif:hover {
        width: 220px;
        transition: 500ms;
    }
}